# Para rodar em produção no Railway (PostgreSQL):
# DATABASE_URL="postgresql://postgres:SENHA@HOST:PORTA/railway?schema=public"

# Para rodar localmente (SQLite):
DATABASE_URL="file:./dev.db"

JWT_SECRET="gere-uma-chave-secreta-forte-aqui"
NEXT_PUBLIC_APP_URL="https://seusaas.com.br"
